vendor/adminlte/** linguist-vendored
public/resources/** linguist-vendored
public/test/** linguist-vendored
public/vendor/adminlte/** linguist-vendored

*.css linguist-vendored
*.html linguist-vendored
public/app.css linguist-vendored
public/index.html linguist-vendored
